<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324124050894-np8gro9blg0kvngf3lsf94ghk91tmtch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324124050894-np8gro9blg0kvngf3lsf94ghk91tmtch</string>
	<key>API_KEY</key>
	<string>AIzaSyAIsfMZ0MzR3kmc1EFxFX5gagmYPMGXNxY</string>
	<key>GCM_SENDER_ID</key>
	<string>324124050894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogapp</string>
	<key>PROJECT_ID</key>
	<string>dogplan-831c8</string>
	<key>STORAGE_BUCKET</key>
	<string>dogplan-831c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324124050894:ios:cbd280081b89e89506d79f</string>
</dict>
</plist>